#calculator {
    height: 570px;
    width: 350px;
    border: solid #d78f88 2px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: #fdb1aa;
}

#display {
    height: 70px;
    width: 270px;
    border: groove #d78f88 2px;
    background-color: #fef5eb;
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
    font-size: 40px;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 10px;
}

button {
    height: 60px;
    width: 60px;
    margin: 5px;
    font-size: 30px;
    border-radius: 5px;
    border-color: #d78f88;
    color: #de4f4f;
}

#buttons {
    display: flex;
    flex-direction: column;
}

#operators button {
    background-color: #fdd1ba;
}

#numbers button {
    background-color: #fae5d1;
}

#operators {
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    gap: 5px;
    justify-content: center;
    padding-top: 15px;
}

#numbers {
    height: 260px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    gap: 5px;
    padding-top: 35px;
    justify-content: center;
}